Some possible examples o www.ini file:

renew: 0:continue indexing; 1=delete and create tables
data: 'from' included 'to' excluded

[credentials]
user=andy
password = mypass478dfg

[locale]
lang=en

[jobs]
renew=1

[data]
from=100000
to=101000

//---------------------------
[credentials]
user=andrzej
password = fsdlkf3r

[locale]
lang=pl

[jobs]
renew=0

[data]
from=0
to=1000